@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import './button';

* {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
}

ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

p {
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.app {
    width: 1100px;
    margin: 0 auto;
    padding: 50px 0 50px 0;
    position: relative;
    .bg-decoration {
        position: absolute;
        right: -174px;
        bottom: -70px;
        z-index: -1;
    }
}

main {
    margin-top: 50px;
    position: relative;
}

.otherInfo {
    display: grid;
    grid-template-columns: minmax(auto, auto) / minmax(auto, auto);
    row-gap: 20px;
    position: sticky;
    top: 28px;
}

.pulse {
    animation: pulse 1.5s ease-in-out .5s infinite
}

@keyframes pulse {
    0% {
        opacity: 1
    }
    50% {
        opacity: .4
    }
    100% {
        opacity: 1
    }
}
.page-enter {
    opacity: 0;
    transition: all 500ms;
}
.page-enter-active {
    opacity: 0;
    transition: all 500ms;
}
.page-enter-done {
    opacity: 1;
    transition: all 500ms;
}

.page-exit {
    transition: 500ms;
    opacity: 0;
}
.page-exit-active {
    transition: 500ms;
    opacity: 0;
}
.page-exit-done {
    opacity: 0;
    transition: all 500ms;
}



.my-char-enter {
    opacity: 0;
    transition: all 1000ms;
}
.my-char-enter-active {
    opacity: 1;
    transition: all 1000ms;
}
.my-char-enter-done {
    opacity: 1;
    transition: all 1000ms;
}
.my-char-exit {
    opacity: 1;
    transition: all 1000ms;
}
.my-char-exit-active {
    opacity: 0;
    transition: all 1000ms;
}
.my-char-exit-done {
    opacity: 0;
    transition: all 1000ms;
}

.my-page-enter {
    position: relative;
    left: -1000px;
    transition: all 1000ms;
}
.my-page-enter-active {
    position: relative;
    left: 0;
    transition: all 1000ms;
}
.my-page-enter-done {
    opacity: 1;
    transition: all 1000ms;
}
.my-page-exit {
    opacity: 1;
    transition: all 1000ms;
}
.my-page-exit-active {
    opacity: 0;
    transition: all 1000ms;
}
.my-page-exit-done {
    opacity: 0;
    transition: all 1000ms;
}